@font-face {
    font-family: "Florensa";
    src: url("fonts/Florensa-Demo.ttf") format("ttf"),
        url('fonts/Florensa-Demo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";
