---
import { SCORE_API_ENDPOINT } from 'astro:env/server';

const res = await fetch(SCORE_API_ENDPOINT)
const scoreValue = await res.text();
---

<span slot="default" id="score" class="text-xs">⭐ Puntuación: {scoreValue.trim()}/5</span>
<slot name="fallback" />
