<section class="bg-[#210A10] py-15">
    <div class="container mx-auto px-4">
      <div class="pb-20 border-b border-white/10 mb-10">
        <div class="flex flex-wrap justify-between -m-4">
          <div class="w-full lg:w-1/6 p-4"><a class="inline-block" href="#"><img class="w-60 h-auto" src="/logo.png" alt=""></a></div>
          <div class="w-full sm:w-1/2 lg:w-1/6 p-4">
            <ul class="flex flex-col gap-6">
              <li><a class="text-white hover:text-white/70 text-l transition duration-200" href="/new-releases">New releases</a></li>
            </ul>
          </div>
          <div class="w-full sm:w-1/2 lg:w-1/6 p-4">
            <ul class="flex flex-col gap-6">
              <li><a class="text-white hover:text-white/70 text-l transition duration-200" href="/bestsellers">Bestsellers</a></li>
            </ul>
          </div>
          <div class="w-full sm:w-1/2 lg:w-1/6 p-4">
            <ul class="flex flex-col gap-6">
              <li><a class="text-white hover:text-white/70 text-l transition duration-200" href="/favorites">Favorites</a></li>
            </ul>
          </div>
          <div class="w-full sm:w-1/2 lg:w-1/6 p-4">
            <ul class="flex flex-col gap-6">
              <li><a class="text-white hover:text-white/70 text-l transition duration-200" href="/search">Search</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>