<nav class="py-5 border-b border-white/10">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between">
      <a href="/"><img src="/logo.png" class="w-60 h-auto" alt="Airhune's books Logo"></a>
      <div class="hidden lg:flex gap-2 p-1 rounded-full bg-white/10">
        <a class="px-3 py-2 rounded-full text-white text-sm hover:bg-white/20 transition duration-200" href="/new-releases">New releases</a>
        <a class="px-3 py-2 rounded-full text-white text-sm hover:bg-white/20 transition duration-200" href="/bestsellers">Bestsellers</a>
        <div class="relative flex items-center">
          <form action="/search" method="GET">
            <div class="relative">
              <input type="text" name="q"
                class="bg-white/10 text-white h-10 px-5 pr-10 rounded-full text-sm focus:outline-none transition-all duration-300 ease-in-out w-12 focus:w-64"
                placeholder="Search"
                onfocus="this.classList.remove('w-12'); this.classList.add('w-64');"
                onblur="if(this.value === '') { this.classList.remove('w-64'); this.classList.add('w-12'); }">
              <button type="submit" class="cursor-pointer absolute right-0 top-0 mt-3 mr-4">
                <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                    </path>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
</nav>