<div class="bg-[url('/bg2.png')] bg-cover bg-opacity-10 bg-bottom h-[700px] relative overflow-hidden mask-image-fade-both">
    <div class="relative z-50 flex items-center justify-center h-full">
        <h1 class="font-heading text-white text-center text-4xl sm:text-5xl md:text-7xl font-bold max-w-6xl mx-auto leading-snug">Airhune's
            <span class="block text-6xl sm:text-7xl md:text-9xl">Books</span>
        </h1>
    </div>
</div>

<style>
    .mask-image-fade-both {
        mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 90%, transparent 99%);
        -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 30%, black 90%, transparent 99%);
    }
</style>